[tool.poetry]
name = "gallagher"
version = "0.1.0-alpha.12"
description = "The missing developer toolkit for Gallagher Command Centre"
authors = ["Dev Mukherjee <devraj@gmail.com>"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/anomaly/gallagher"
documentation = "https://anomaly.github.io/gallagher/"
keywords = ["gallagher", "rest", "api", "tui", "cli"]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Topic :: Software Development :: Build Tools",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Operating System :: OS Independent",
    "Framework :: Pydantic",
    "Framework :: Pydantic :: 2",
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/anomaly/gallagher/issues"

[tool.poetry.extras]
cli = ["asyncer", "typer", "rich"]
tui = ["textual"]

[tool.poetry.dependencies]
python = "^3.11"
httpx = "^0.28.0"
pydantic = "^2.11.3"
typing-extensions = "^4.11.0"
annotated-types = "^0.7.0"
certifi = "^2025.1.31"
idna = "^3.7"
packaging = "^25.0"
pluggy = "^1.3.0"
anyio = "^4.3.0"
aiohttp = "^3.9.4"

pytz = "^2025.1"
email-validator = "^2.2.0"
pyopenssl = "^25.0.0"
cryptography = "^44.0.2"
[tool.poetry.group.dev.dependencies]
pytest-cov = "^6.0.0"
coverage = "^7.5.1"
pytest = "^8.2.1"
pytest-order = "^1.2.1"
pytest-tap = "^3.4"
pytest-clarity = "^1.0.1"
textual-dev = "^1.4.0"
mkdocs-typer = "^0.0.3"
mkdocs = "^1.6.0"
pytest-dependency = "^0.6.0"
flake8 = "^7.0.0"
black = "^25.1.0"
tqdm = "^4.66.4"


pygments = "^2.18.0"
mkdocstrings = "^0.29.0"
mkdocs-material = { version = "^9.5.46", extras = ["imaging"] }
[tool.poetry.group.cli.dependencies]
asyncer = "^0.0.8"
typer = "^0.15.1"
rich = "^14.0.0"


[tool.poetry.group.tui.dependencies]
textual = "^3.0.0"
textual-dev = "^1.7.0"


rich-pixels = "^3.0.1"
[tool.poetry.group.sync.dependencies]
sqlalchemy = "^2.0.30"
alembic = "^1.13.1"
shillelagh = "^1.2.19"


[tool.poetry.group.test.dependencies]
coverage = "^7.4.3"
pytest-asyncio = "^0.26.0"

[tool.poetry.scripts]
gala = "gallagher.cli:app"
gtui = "gallagher.tui:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.poetry.plugins."shillelagh.adapter"]
gacc = "gallagher.ext.shillelagh:CCAPIAdapter"
