name: build
on:
  push:
    branches:
      - master
    paths:
      - docs/**
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install mkdocs
      - run: pip install mkdocs-terminal
      - run: cd docs && mkdocs gh-deploy --force --clean --verbose
